.invoice-detail {
  padding: 20px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #333;
}

.card-body {
  padding: 20px;
}

.card-body p {
  margin-bottom: 10px;
}

.fw-bold {
  font-weight: bold;
}
