.carousel-control-prev,
.carousel-control-next {
  font-size: 2rem;
  color: wheat;
  background-color: transparent;
  border: none;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: transparent;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.camp-card-body {
  height: 400px;
  overflow: hidden;
}

.camp-card-body img {
  height: 200px;
}

.camp-card-body p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
